<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link
		href="https://external-preview.redd.it/lbCtkmr_2nsGpYIR4VfHCs8QDgAAjINWASk3Di8FofI.jpg?auto=webp&s=39757aa09d10d04d7434fef41d01730bbc740329"
		rel="icon" type="image/x-icon">
	<title>Markdown Note</title>
	<link rel="stylesheet" type="text/css" href="/main.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
</head>

<body>